#body {
  font-family: Arial, sans-serif;
  background-color: #C3CBDE;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contorno_pantalla_principal {
  padding: 20px;
  margin: 1%;
  width: 90%;
  height: 850px;

  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  justify-content: center;
}

#pantalla_principal {
  height: 800px;
  margin: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /*Gradiente gris y blanco*/
  background: linear-gradient(50deg, #ffffff, #a3a3a3);
}

/* === BARRA DE TAREAS */
#barra_tareas {
  width: 8%;

  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  background-color: #4163CF;
  border-bottom: 10px;
}

/* === PANEL DE DATOS === */
#panel_datos {
  width: 70%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#titular_y_buscador {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 2%;
  justify-content: space-between;
}

#titulo {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

#buscador {
  width: 20%;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 2%;
  background: #a3a3a3;
}

#cuadros_info_estatica {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#datos_principales {
  width: 48%;
  height: 330px;

  border-radius: 20px;
  background-color: #4163CF;
}

#os_name,
#os_version,
#kernel_version,
#host_name {
  font-size: 28px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
}

#menu_datos_secundarios {
  width: 48%;

  border-radius: 20px;
  background-color: #4163CF;
}

#submenu_arriba {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #4163CF;
}

#submenu_abajo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #41C8CF;
}

#cuadros_info_dinamica {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#menu_ram,
#menu_cpu,
#menu_disco {
  width: 32%;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  background-color: #ffffff;
}

#memory,
#cpu,
#disk {
  font-size: 30px;
  font-weight: bold;
}

#rango_memory,
#rango_cpu,
#rango_disk {
  width: 80%;
}

/* === OTRAS OPCIONES === */
#otra {
  width: 20%;

  border-radius: 20px;
  background-color: #4163CF;
}